* {
  al:      #FF0000;
  bg:      #1c2125;
  se:      #151515ff;
  fg:      #dfdedf;
  ac:      #f78538;
  red:     #FF0000;
  green:   #61C766ff;
  yellow:  #FDD835ff;
  blue:    #42A5F5ff;
  orange:  #f78538;
  purple:  #7488A6;
  cyan:    #5D9094;
}